<!DOCTYPE html>
<html>
<head>
    <h5 style="margin-bottom:10;
               text-align: center";
        width="200px">{{nm}}
    </h5>
</head>
<body>
    <table>
        {% if dist==True or strs==True or yg==True %}
        <tr>
            <th style="padding: 5px 15px;
                    background-color: #c3cbcc;
                    color: #fff;
                    text-align: center;
                    letter-spacing: 0.7px;">Property</th>
            <th style="padding: 5px 15px;
                    background-color: #c3cbcc;
                    color: #fff;
                    text-align: center;
                    letter-spacing: 0.7px">Value</th>
        </tr> 
        {% endif %}

        {% if dist==True %}
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #fff;">Distance: </td>
            <td style="padding: 5px 15px;
                       background-color: #fff">{{print_dist}}</td>
        </tr>
        {% endif %}

        {% if strs==True %}
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #fff;">Stress: </td>
            <td style="padding: 5px 15px;
                       background-color: #fff">{{print_strs}}</td>
        </tr>
        {% endif %}

        {% if yg==True %}
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #fff;">Young's: </td>
            <td style="padding: 5px 15px;
                       background-color: #fff">{{print_yg}}</td>
        </tr>
        {% endif %}
    </table>
</body>
</html>

<!-- def popup_html(row):
"""
Inserting HTML and CSS styles into folium popups for well properties
"""
i = row
well_name=directory.iloc[point]['Directory']
print_distance=directory.iloc[point]['Print Distance']

html = """
<!DOCTYPE html>
<html lang="en">
<head> 
    <h5 style="margin-bottom:10;
               text-align: center";
        width="200px"
        >{}</h5>""".format(well_name) + """
</head>
<body>
    <table>
        <tr>
            <th style="padding: 5px 15px;
                       background-color: #c3cbcc;
                       color: #fff;
                       text-align: center;
                       letter-spacing: 0.7px;">Property</th>
            <th style="padding: 5px 15px;
                       background-color: #c3cbcc;
                       color: #fff;
                       text-align: center;
                       letter-spacing: 0.7px">Value</th>
        </tr>
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #fff;">Distance: </td>
            <td style="padding: 5px 15px;
                       background-color: #fff">{}</td>""".format(print_distance) + """
        </tr>
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #eeeeee">Field: </td>
            <td style="padding: 5px 15px;
                       background-color: #eeeeee">{}</td>""".format(print_distance) + """
        </tr>
                        <tr>
            <td style="padding: 5px 15px;
                       background-color: #fff;">Stress: </td>
            <td style="padding: 5px 15px;
                       background-color: #fff">{}</td>""".format(print_distance) + """
        </tr>
        <tr>
            <td style="padding: 5px 15px;
                       background-color: #eeeeee">Strain: </td>
            <td style="padding: 5px 15px;
                       background-color: #eeeeee">{}</td>""".format(print_distance) + """
        </tr>
    </table>
    {% if dist==True %}
        <p>Hello</p>
    {% endif %}
</body>
</html>
"""
return html -->