<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UWI Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Form/formStyle.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">BitCan</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/option" class="navbar__links">Locator</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- User input for well ID -->
    <div class ="form">
        <div class ="form__container">
            <div class="form__title">Alberta Well Locator</div>
            <form action="mapping" method="GET">
                <div class="form__top">
                    <div class="input-box">
                        <span class="location">Location of Interest</span>
                        <input type="text" placeholder="Enter UWI" name="input_uwi" id="input_uwi" required>
                    </div>
                    <div class="input-box">
                        <span class="displayNumber">Nearby Wells</span>
                        <select class="select2" name="display" id="display" required>
                            <option value=""></option>
                            <option value="10">Map nearest 10</option>
                            <option value="20">Map nearest 20</option>
                            <option value="100">Map All</option>
                        </select>
                    </div>
                </div>
                <div class="form__bottom">
                    <span class="choose-properties">Which Properties would you like to view?</span>
                    <div class="property">
                        <input type="checkbox" id="distance" name="distance" value="1"/>
                        <label for="distance">Distance</label>
                    </div>
                    <div class="property">
                        <input type="checkbox" id="stress" name="stress" value="1"/>
                        <label for="stress">Stress</label>
                    </div>
                    <div class="property">
                        <input type="checkbox" id="young" name="young" value="1"/>
                        <label for="young">Young</label>
                    </div>
                </div>
                <div class="buttons">
                    <button class="reset-btn" type="reset">Reset</button>
                    <button class="submit-btn" type="submit">Launch Map</button>
                </div>
            </form>
        </div>
    </div>  
    <script src="{{ url_for('static', filename='JS/app.js') }}"></script>
</body>
</html>